body {
  background: rgb(32, 208, 232) !important;
}
h1, h2, h3, h4, h5 {
  font-family: "Share Tech Mono", serif;
}
#landingPage {
    background-color:rgb(166, 182, 185);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
.header {
  text-align: center;
  margin-top: 15px;
}
.projects {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 3%;
}
.sites {
  display: inline-flex;
  width: 90vw;
}
.siteImage {
  width: 60vw;
  height: 100%;
  display: inline-block;
  border: 5px solid rgb(246, 237, 177);
}
.description {
  width: 100%;
  /*height: 400px;*/
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background-color: rgb(237, 159, 55);
}
#logo {
  align: auto;
  height: 125px;
  width: 170px;
}
#ichael {
  height: 60px;
  width: 250px;
  margin-left: 34%;
  margin-top: 22%;
  position: absolute;
}
#erger {
  height: 60px;
  width: 250px;
  margin-left: 62%;
  margin-top: 22%;
  position: absolute;
}
#webDev {
  height: 50px;
  width: 450px;
  margin-left: 35%;
  margin-top: 28%;
  position: absolute;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.shadow {
   -webkit-transition: all 200ms ease-in;
   -webkit-transform: scale(1);
   -ms-transition: all 200ms ease-in;
   -ms-transform: scale(1);
   -moz-transition: all 200ms ease-in;
   -moz-transform: scale(1);
   transition: all 200ms ease-in;
   transform: scale(1);
 }
 .shadow:hover {
   -ms-transform: scale(1.25);
   -webkit-box-shadow: 3px 3px 5px 6px #757575;
   box-shadow: 3px 3px 5px 6px #757575;
   z-index: 2;
   -webkit-transition: all 300ms ease-in;
   -webkit-transform: scale(1.02);
   -ms-transition: all 300ms ease-in;
  -ms-transform: scale(1.02);
   -moz-transition: all 300ms ease-in;
   -moz-transform: scale(1.02);
   transition: all 300ms ease-in;
   transform: scale(1.02);
 }
 .shadowHalf {
   -webkit-transition: all 200ms ease-in;
   -webkit-transform: scale(1);
   -ms-transition: all 200ms ease-in;
   -ms-transform: scale(1);
   -moz-transition: all 200ms ease-in;
   -moz-transform: scale(1);
   transition: all 200ms ease-in;
   transform: scale(1);
 }
 .shadowHalf:hover {
   -ms-transform: scale(1.05);
   -webkit-box-shadow: 3px 3px 5px 6px #757575;
   box-shadow: 1px 1px 2px 3px #757575;
   z-index: 2;
   -webkit-transition: all 300ms ease-in;
   -webkit-transform: scale(1.02);
  -ms-transition: all 300ms ease-in;
   -ms-transform: scale(1.02);
   -moz-transition: all 300ms ease-in;
   -moz-transform: scale(1.02);
   transition: all 300ms ease-in;
   transform: scale(1.02);
 }

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeIn2 { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn2 { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn2 { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 3s;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 3s;
	animation:fadeIn ease-in 3s
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
.fade-in2 {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 4s;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 4s;
	animation:fadeIn ease-in 4s
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
@-webkit-keyframes m
{
    from {
        left: 34%;
    }
    to {
        left: 22.5%;
    }
}
@keyframes m
{
    from {
        left: 34%;
    }
    to {
        left: 22.5%;
    }
}
a#m {
    text-decoration: none;
    left: 22.5%;
    margin-top: 17%;
    position: absolute;
    -webkit-animation: m 4s;
    animation: m 4s;
}

a#m img {
    -webkit-transition: all 4s ease-in 2s;
    -moz-transition: all 4s ease-in 2s;
    -o-transition: all 4s ease-in 2s;
    -ms-transition: all 4s ease-in 2s;
    transition-duration: 4s;
    }
@-webkit-keyframes f
{
    from {
        left: 42.5%;
    }
    to {
        left: 52.5%;
    }
}
@keyframes f
{
    from {
        left: 42.5%;
    }
    to {
        left: 52.5%;
    }
}
a#f {
    text-decoration: none;
    margin-top: 17%;
    left: 52.5%;
    position: absolute;
    -webkit-animation: f 4s;
    animation: f 4s;
}

a#f img {
    -webkit-transition: all 4s ease-in 2s;
    -moz-transition: all 4s ease-in 2s;
    -o-transition: all 4s ease-in 2s;
    -ms-transition: all 4s ease-in 2s;
    transition-duration: 4s;
    }

.modal.modal-fullscreen .modal-content {
  background: rgba(0, 0, 0, .3);
}
.modal.modal-fullscreen .modal-header {
  border: 0;
  color: #fff;
}
.modal.modal-fullscreen .modal-footer {
  border-color: rgba(0, 0, 0, .2);
}
#tessaractModal .carousel-caption {
  background-color: rgba(0, 0, 0, .2);
  bottom: -80%;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
  width: 100%;
  margin-left: -20%;
  margin-left: -20%;
  height: 75px;
}

#tessaractModal .item.active >.carousel-caption {
  bottom: 0;
}
#tessaractModal .modal-content {
  width: 200%;
  margin-left: -50%;
}
#milkDropModal .carousel-caption {
  background-color: rgba(0, 0, 0, .2);
  bottom: -80%;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
  width: 100%;
  margin-left: -20%;
  height: 75px;
}

#milkDropModal .item.active >.carousel-caption {
  bottom: 0;
}
#milkDropModal .modal-content {
  width: 200%;
  margin-left: -50%;
}
#bracketModal .carousel-caption {
  background-color: rgba(0, 0, 0, .2);
  bottom: -80%;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
  width: 100%;
  margin-left: -20%;
  height: 75px;
}

#bracketModal .item.active >.carousel-caption {
  bottom: 0;
}
#bracketModal .modal-content {
  width: 200%;
  margin-left: -50%;
}
.mdImg {
  height: 600px;
}
.nav-custom {
    width: 100%;
    height: 80px;
    z-index: 999;
    padding: 10px;
    background-color: rgb(108, 158, 242);
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    font-size: 150%;
    color: #fff;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.nav-custom.affix {
    width: 100%;
	background-color: rgba(255, 255, 255, 1);
	color: rgb(108, 158, 242);
	height: 80px;
	padding: 12px;
	-webkit-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.nav-custom .rc {
	color: rgb(108, 158, 242);
	padding: -5px;
  width: 100px;
}
.nav-custom.affix .navbar-collapse {
    top: 60px;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}
button {
	outline: none;
}
.navbar-toggle {
	padding: 0;
  margin: 0;
}
.contact {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb(108, 158, 242);
}
.contact-left {
	background-color: rgb(108, 158, 242);
	color: #fff;
	padding: 50px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
}
.contact-right {
	background-color: #fff;
	color: rgb(108, 158, 242);
	padding: 50px;
    text-align: center;
}
.contact-btn {
	background-color: #fff;
	color: rgb(108, 158, 242);
	padding: 0px 50px;
	border: 2px solid rgb(108, 158, 242);
}
.contact-btn:hover {
	background-color: rgb(108, 158, 242);
	color: #fff;
	-webkit-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.mainHeading {
	background-color: rgb(108, 158, 242);
	color: #fff;
	padding: 5px 20px;
	border-radius: 0px 20px 0px 20px;
}
.subHeading {
	border: 2px solid rgb(108, 158, 242);
}
.padding100, .padding200 {
    padding-bottom: 50px;
}
@media (min-width: 768px) {
    .padding100 {
        padding-bottom: 100px;
    }
    .padding200 {
        padding-bottom: 200px;
    }
    .nav-custom a::before,
    .nav-custom a::after {
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
    }
    .nav-custom a::before {
        margin-right: 10px;
        content: '>';
        -webkit-transform: translateX(15px);
        -moz-transform: translateX(15px);
        transform: translateX(15px);
    }
    .nav-custom a::after {
        margin-left: 10px;
        content: '<';
        -webkit-transform: translateX(-15px);
        -moz-transform: translateX(-15px);
        transform: translateX(-15px);
    }
    .nav-custom a:hover::before,
    .nav-custom a:hover::after,
    .nav-custom a:focus::before,
    .nav-custom a:focus::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
    .nav-custom a:link, .nav-custom a:visited, .nav-custom a:hover, .nav-custom a:active {
        text-decoration: none;
        color: #fff;
        outline: none;
    }
    .nav-custom.affix a:link, .nav-custom.affix a:visited, .nav-custom.affix a:hover, .nav-custom.affix a:active {
        text-decoration: none;
        color:  rgb(108, 158, 242);
        outline: none;
    }
    /*.contact {
        border-width: 1px 0;
        height: 400px;
        background-image: linear-gradient(121deg, rgb(108, 158, 242) 50%, #fff 50%);
    }
    .contact-left{
        background-color: transparent;
        padding-top: 100px;
        color: #fff;
        text-align: left;
        margin-left: 0;
        margin-right: 0;
    }
    .contact-right{
        padding-top: 200px;
        color: #fff;
        float: right;
        background-color: transparent;
    }*/
}
@media (max-width: 767px) {
    .navbar-collapse {
        width: 250px;
        position: fixed;
        right: -250px;
        top: 80px;
        overflow-x: hidden;
        background-color: rgba(255, 255, 255, 0.8);
        border-top: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
    }
    .navbar-collapse.in {
        right: 0px;
        width: 250px;
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
    }
    .navbar-nav {
        margin: 0 -15px;
    }
    .navbar-nav>li>a {
        padding: 0;
        line-height: 3em;
        text-align: center;
    }
    .navbar-collapse ul {
        border-left: 1px solid rgba(0, 0, 0, .18);
    }
    .navbar-collapse ul li {
        border-bottom: 1px solid rgba(0, 0, 0, .18);
    }
    .navbar-collapse ul li:hover {
        background-color: rgb(108, 158, 242);
        color: #fff;
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
    }
    .navbar-collapse ul a:link,
    .navbar-collapse ul a:visited {
        color: rgb(108, 158, 242);
    }
    .navbar ul a:hover {
        text-decoration: none;
        color: #fff;
    }
	h2 {
		font-size: 130%;
	}
}
